<div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Каталог</li>
			<%  @categories = Category.all %>
              <% @categories.each do |category| %>

              <li><%= link_to category.name, "/books/?utf8=✓&search=#{category.name}" %></li>

              <% end %>
            </ul>
          </div><!--/.well -->

        </div><!--/span-->
        

